<tr id="<%= dom_id note %>" class="scaffold_record">
  <td><%= note.id %></td>
  <td><%= note.title %></td>
  <td><%= note.created_at.strftime('%d/%m/%Y') %></td>
  <td><%= note.updated_at.strftime('%d/%m/%Y') %></td>
  <td>
    <%= link_to "Show", note %>
    <%= link_to "Edit", edit_note_path(note) %>
    <%= button_to "Delete", note_path(note), method: :delete, data: { confirm: "teste" } %>
  </td>
</tr>
